<app-top-menu></app-top-menu>
<div class="content">
  <div class="banner first-banner">
    <video autoplay loop class="bg_video">
      <source src="../../assets/irelia.mp4" type="video/webm">
  </video>
  </div>
  <div class="banner second-banner">
    <video autoplay loop class="bg_video">
      <source src="../../assets/ornn.mp4" type="video/webm">
  </video>
  </div>
  <div class="banner third-banner">
    <video autoplay loop class="bg_video">
      <source src="../../assets/season_9.mp4" type="video/webm">
  </video>
  </div>
</div>
<app-footer></app-footer>
