<app-top-menu></app-top-menu>
<div class="title">
  <h1>MAKE YOUR TEAM!</h1>
</div>
<div class="content">
  <!-- <div class="banner first-banner">
    <video autoplay loop class="bg_video">
      <source src="../../assets/irelia.mp4" type="video/webm">
  </video>
  </div> -->
  <div class="banner second-banner">
    <p>SOLO</p>
    <p>1 VS 1</p>
    <video autoplay loop class="bg_video">
      <source src="../../assets/ornn.mp4" type="video/webm">
  </video>
  </div>
  <div class="banner third-banner">
    <p>TEAM</p>
    <p>5 VS 5</p>
    <video autoplay loop class="bg_video">
      <source src="../../assets/season_9.mp4" type="video/webm">
  </video>
  </div>
</div>
<app-footer></app-footer>
