div.top-menu {
  height: 80px;
  width: 100%;
  background: var(--main-color);
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 90px;
  background: var(--main-color);
  height: 50px;
  border: none;
  margin: none;
  margin-left: 1px;
  margin-right: 1px;

  border: solid 1px black;
}

button:focus {
  outline: none;
}

button:hover {
  background: var(--actived-icon-color);
  transition: 0.2s;
}
