div.top-menu {
  height: 80px;
  width: 100%;
  background: var(--main-color);
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 90px;
  background: var(--almost-main-color);
  height: 50px;
  border: none;
  margin: none;
  margin-left: 1px;
  margin-right: 1px;

  // transform: skewX(-10deg);
}

button:focus {
  outline: none;
}

button:hover {
  background: var(--almost-gold);
  transition: 0.2s;
}
