<div class="main">
  <div class="top-menu">
    <button>

    </button>
    <button>

    </button>
    <button>

    </button>
    <p-dropdown [options]="cities" styleClass="dropdown" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown>
  </div>
  <div class="content">
    <!-- <div class="banner first-banner">

    </div>
    <div class="banner second-banner">

    </div>
    <div class="banner third-banner">

    </div> -->
    <video autoplay loop class="bg_video">
      <source src="../../assets/background-video.mp4" type="video/webm">
  </video>
  </div>
</div>

